body {
    height: 500vh;
}

div {
    padding: 50px 60px;
    
    height: auto;
}

.div1 {
    background-color: red;
    position: relative;
}

.div2 {
    background-color: rgb(13, 163, 227);
    position: absolute;
    transform: scale(0.5);
    width: 250px;
    top: 1vh;
    margin: 0vh 90vh;
    left: -6%;
}
    